<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923699169465-4ifofp48a27ad7ip70ccgojv9d02m8ts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923699169465-4ifofp48a27ad7ip70ccgojv9d02m8ts</string>
	<key>API_KEY</key>
	<string>AIzaSyD0wFW070q69_V5MGw5cFMCCyD8Dt6GosE</string>
	<key>GCM_SENDER_ID</key>
	<string>923699169465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupify</string>
	<key>PROJECT_ID</key>
	<string>groupify-2b19c</string>
	<key>STORAGE_BUCKET</key>
	<string>groupify-2b19c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923699169465:ios:55dd49a68aa8326e1b3368</string>
</dict>
</plist>